.about-us {
	background-color: rgb(131, 55, 0);
	color: rgb(233, 233, 233);
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transform: translateX(120%);
	-webkit-transform: translateX(120%);
	-moz-transform: translateX(120%);
	-ms-transform: translateX(120%);
	-o-transform: translateX(120%);
	transition: transform 1s;
	-webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	-ms-transition: transform 1s;
	-o-transition: transform 1s;

	&.active {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
	}
}
