.style4{
    margin: 15px;

    h1{
        color: orangered;
        text-align: center;
        border-bottom: 3px dotted gainsboro;
    }

    ul{
        list-style-type: "❄️";
        line-height: 1.7rem;
    }
}